<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>You got a new message!</h3>
    <p>
    --------------------------
    </p>
    <p>Message: <%= @data[:message] %></p>
  </body>
</html>